<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
      <a id="buttonColor" class="btn btn-primary" href="/profile">Workout Log</a>
      <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" id="buttonColor"class="col-3 btn btn-primary">Logout</a>
      </div>
    </div>
    <div id="exerciseWidth"class="col-6">
      <ul class="row list-unstyled">
        <h2 class="row justify-content-center mt-5">Stretches</h2>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Hip Flexor Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698079570/hipflexorstretch_l3rorj.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Spiderman Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698079578/spidermanstretch_ex59ts.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Groin Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698079553/groinstretch_koxcke.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Piriformis Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343522/piriformisstretch_hnswqq.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Quad Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343626/quadstretch_a7ozz0.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Pigeon Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343637/pigeonstretch_escrct.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Crab Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343646/crabstretch_iwrdlq.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Figure Four Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343657/figurefourstretch_p4lkfo.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Down Dog Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343665/downdogstretch_agsumt.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Cobra Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343688/cobrastretch_utdm6g.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Childs Pose Stretch</h4>
              <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343706/childsposestretch_qr3nkp.jpg">
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Iron Cross Stretch</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343778/ironcrossstretch_lolxsk.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Scorpion Stretch</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343797/scorpionstretch_vmgs5k.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">T-Spine Rotation</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868283/tspinerot_oh87m3.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
          <h4 class="row justify-content-center mt-5">Doorway Stretch</h4>
            <img class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/image/upload/v1698343717/doorwaystretch_fx5aar.jpg">
          </li>
          <h2 class="row justify-content-center mt-5">Core</h2>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Bridge</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867958/bridge_qk3ca7.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Marching</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343873/marching_mw4hhz.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Breathing Bridge</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343844/breathingbridge_jxefs5.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Crunch</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867979/crunch_cjzsem.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Reverse Crunch</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867991/reversecrunch_hhprj7.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Double Crunch</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868002/doublecrunch_bdp2el.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Active Straight Leg Raise</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867906/aslr_puu6an.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Calf Reach</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867894/calfreach_vvwgsg.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Leg Lowering</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343883/leglowering_ou8lpb.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Get Up Abs</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867921/getupabs_ks99tu.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Get Up Abs-Modified</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867934/getupabsmodified_fwp4uy.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">OG Botulism</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867968/ogbotulism_hrqkjg.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Bird Dog</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698867946/birddog_usvov0.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Push Up Plank</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343909/pushupplank_r5mmvg.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Shoulder Tap</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343944/shouldertap_d4fcll.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Stomach Tap</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343970/stomachtap_bmzuve.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Side Plank</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698079595/sideplank_fc4cah.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Side Plank-Modified</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698079612/modifiedsideplank_c3bevn.mov" controls="controls"></video>
          </li>
          <h2 class="row justify-content-center mt-5">Lower Body</h2>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Lateral Lunge</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698079632/laterallunge_d2emmq.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Lateral Lunge Loaded</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698079652/laterallungeloaded_dlkoyi.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Forward Lunge</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868428/forwardlunge_l3nvhc.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Forward Lunge Loaded</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868439/forwardlungeloaded_rjer3q.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Split Squat</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868448/splitsquat_uiqucn.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Split Squat Loaded</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868459/splitsquatloaded_s6zyyr.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Dumbbell Deadlift</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868468/dumbbelldeadlift_jnklfv.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Wall Squat</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868479/wallsquat_liax0s.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Split Stance Wall Squat</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868488/splitstancewallsquat_xq46ki.mov" controls="controls"></video>
          </li>
          <h2 class="row justify-content-center mt-5">Upper Body</h2>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Seated Overhead Press</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868332/seatedoverheadpress_idyg0l.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Dumbbell Row</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868346/dumbbellrow_gsky0h.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Seated Chest Press</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868358/seatedchestpress_tqydmt.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Lat Pull Down</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868372/latpulldown_rnxyct.mov" controls="controls"></video>
          </li>
          <h2 class="row justify-content-center mt-5">Drills</h2>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Neck Drills</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698343822/neckdrills_lmqgk5.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Three Way Kick</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868553/threewaykick_mcqlxb.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Yoga Block Drill</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868600/yogablockdrill_ouzd2x.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Knee Drill</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868611/kneedrill_pioio1.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Seated Knee Extension-Cable</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868621/seatedkneeextensioncable_mj3y1w.mov" controls="controls"></video>
          </li>
          <li class="col-6 justify-content-between mt-5">
            <h4 class="row justify-content-center mt-5">Spinnies</h4>
              <video class="img-fluid" src="https://res.cloudinary.com/dw6qr6shi/video/upload/v1698868585/spinnies_b4qili.mov" controls="controls"></video>
          </li>
        </ul>
  </div>
</div>

<%- include('partials/footer') -%>
